<article id="article-{{model.id}}" class="accent--zazzle">
  <section class="masthead masthead--post masthead--inverted text-center">
    <div class="container">
      <h1 class="masthead-title">{{model.title}}</h1>

      <div class="masthead-meta text-center">
        <div class="masthead-meta-item">
          <i class="oi" data-glyph="clock"></i> {{model.date}}
        </div>

        <ul class="masthead-meta-item masthead-meta-item--tags">
          <i class="oi" data-glyph="tags"></i>
          {{#each tag in model.tags}}
          <li class="masthead-meta-item--tag">{{tag}}</li>
          {{/each}}
        </ul>
      </div>
    </div>
  </section>

  <section class="section--intro section">
    <div class="container">
      <div class="row">
        <aside class="section--toc col-md-4">
          <h1>Table of Contents</h1>

          <ul>
            <li><a href="#">Designing Zazzle.com Settings</a></li>
            <li><a href="#">Objectives</a></li>
            <li><a href="#">Initial State</a></li>
            <li><a href="#">Research and Usability Testing</a></li>
            <li><a href="#">Guiding Principals</a></li>
            <li><a href="#">Proposition</a></li>
            <li><a href="#">Iterations</a></li>
            <li><a href="#">Tools and Software Used</a></li>
            <li><a href="#">Fit and Finish</a></li>
          </ul>
        </aside>

        <div class="section--text col-md-8">
          <h1>Designing Zazzle.com Settings</h1>
          <p class="subtitle">A look into the design process.</p>

          <p class="lead">As my second project since joining the Zazzle team as a Product Manager Intern in January, I took on the task of redesigning the settings pages on Zazzle.com.</p>

          <p>This project was started near the end of March of 2015. While there were a number of other exciting projects ongoing, I wanted to take on a project that I could work through from the beginning all the way to the very end - from ideation all the way to implementation. Coupled with the fact that my internship was coming to an end at the end of April 2015, this was the perfect project for me.</p>

          <p>While not entirely public facing, the settings pages play an instrumental role on Zazzle.com. Any changes that need to be made to a user's profile and account, or to a store owner's products and payment information are entered on these pages.</p>

          <p><strong>Like with the {{#link-to 'post.design-analysis-zazzle-maker'}}Zazzle Maker Dashboard{{/link-to}}, I took on the duo role of both a product designer and product manager.</strong> I was the primary designer and was responsible for the creation of all designs, mockups, and wireframes. I also worked together with another PM to define specifications and manage development for the implementation of the settings pages.</p>
        </div>
      </div>
    </div>
  </section>

  <section class="section--text section">
    <div class="container container--sm">
      <i class="accent-clr icon oi" data-glyph="check"></i>
      <h1>Objectives</h1>
      <p class="subtitle">The goal of the project was to make modifying your settings a breeze.</p>

      <p class="lead">We wanted the pages to be more usable, accessible, and visually appealing.</p>

      <p>Perfectly aligned with another project, the settings pages were the prime candidate to accompany the profiles redesign. We wanted to improve the experience of modifying your user and store settings by providing users with a seamless way of transitioning from viewing their profile to editing their profile and settings.</p>
    </div>
  </section>

  <section class="section--text section">
    <div class="container container--sm">
      <h1>Research and Usability Testing</h1>
      <p class="subtitle">A little research goes a long way.</p>

      <p class="lead">Before jumping into the project, we wanted to take a look at where we stood as a platform.</p>

      <p>To do so, we had a few questions that we wanted the answers to:</p>

      <ul>
        <li>What do our users like about the current settings pages?</li>
        <li>Conversely, what do our users dislike about the current settings pages?</li>
        <li>How often is each settings page accessed?</li>
        <li>How <em>is</em> each settings page accessed?</li>
        <li>How are the settings displayed on competitor websites?</li>
        <li>What are the design trends these days for forms and settings?</li>
      </ul>

      <p>To find the answers to these questions, we did some research and conducted several usability tests with an assortment of different users in our usability lab on the first floor. We brought in:</p>

      <ol>
        <li>Existing customers on Zazzle.com</li>
        <li>New customers who <em>claimed to</em> have never been on Zazzle.com</li>
        <li>Store owners on Zazzle.com</li>
        <li>Zazzle employees</li>
      </ol>

      <h2>Research</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

      <h2>Usability Tests</h2>

      <h3>Existing Customers</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

      <h3>New Customers</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

      <h3>Store Owners</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

      <h3>Zazzle Employees</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
  </section>

  <section class="section--text section">
    <div class="container container--sm">
      <h1>Initial State</h1>
      <p class="subtitle">Its humble beginnings.</p>

      <p>As discovered through research and usability testing, users found the settings difficult to access and confusing to navigate.</p>

      <h2>Confusing Navigation</h2>
      <p>To enter into the user or store settings, the user must hover over the icon of the member's profile picture in the header and click <strong>My Accounts</strong> or <strong>Edit Profile</strong>.</p>

      <p>In its current state, it is unclear how to navigate to different sections of the user and store settings. While the flow was designed to be hierarchical, sections are displayed as though they all sit on the same level, despite being a child of a parent. The navigation boils down to a horizontal navigation bar and a side panel.</p>

      <h3>Horizontal Navigation Bar</h3>
      <p>The horizontal navigation bar is the primary form of navigation within the settings pages. </p>
    </div>
  </section>

  <section class="section--image section--image--sm">
    <div class="container">
      <figure class="post-section-figure">
        <img class="post-section-figure-image" src="/assets/images/posts/design-analysis-zazzle-maker/initial-nav-horz.jpg" alt="" />
      </figure>
    </div>
  </section>

  <section class="section--text section">
    <div class="container container--sm">
      <h3>Sidebar</h3>
      <p>This is some text...</p>

      <h2>Little Sense of Context</h2>
      <p>Related to the points made above, editing your profile information or account settings performed on pages that look very similar and generic, making it difficult to distinguish whether you are within the member context or the store context.</p>

      <h2>Illogical Groupings</h2>
      <p>This is some text...</p>
    </div>
  </section>

  <section class="section--text section">
    <div class="container container--sm">
      <h1>Guiding Principles</h1>
      <p class="subtitle">These were used to steer the decision-making behind each design and iteration.</p>

      <p class="lead">It's easy to get lost and diverge from the goal.</p>

      <p>At a high level, I knew what the goals of the company were at the time. Within the scope of the project, it was important that we moved in parallel with other ongoing projects at the time. What this meant was that the settings pages needed to work together with other projects that affected the site. However other projects moved and weaved, the settings pages would have to move with it.</p>

      <h2>Keep it Simple</h2>
      <p>Blah, blah, blah...</p>

      <h2>Add More Structure</h2>
      <p>Blah, blah, blah...</p>
    </div>
  </section>

  <section class="section--text section">
    <div class="container container--sm">
      <h1>Proposition</h1>
      <p class="subtitle">Addressing our discoveries from conducting research and usability testing.</p>

      <h2>Normalizing Navigation</h2>
      <p>A superset of the next items to improve, the navigation for the settings page</p>

      <h2>Improving Accessibility</h2>
      <p>Enable the user to quickly switch between member settings to their store settings in a single click.</p>
      <p>Also </p>

      <h2>Logical Groupings</h2>
      <p>This is some text...</p>
    </div>
  </section>

  <section class="section--text section">
    <div class="container container--sm">
      <h1>Iterations</h1>
      <p class="subtitle"><strong class="accent-clr">192</strong> Sketch Mockups</p>

      <p class="lead"></p>

      <p></p>
    </div>
  </section>

  <section class="section--text section">
    <div class="container container--sm">
      <i class="accent-clr icon oi" data-glyph="wrench"></i>
      <h1>Tools and Software Used</h1>
      <p class="subtitle">For design, development, and project management.</p>

      <p>There are countless tools out there that are used by different companies and people. Personally, I am always curious as to what others are using. So for the people out there who are like me, here's a list of things I used while working on this project.</p>

      <h2>Design Tools</h2>
      <p>For the creation of designs and mockups.</p>

      <ul>
        <li><a href="http://bohemiancoding.com/sketch/" target="_blank">Sketch</a></li>
        <li><a href="http://www.adobe.com/products/photoshop.html" target="_blank">Adobe Photoshop CC</a></li>
      </ul>

      <h2>Management Tools</h2>
      <p>For sprint planning and task delegation.</p>

      <ul>
        <li><a href="http://asana.com/"><strike>Asana</strike></a></li>
        <li><a href="http://jira.com/">JIRA</a>: Initially, the entire company was using Asana for project management. This changed at the beginning of March when myself and two other individuals led the charge on migrating all management of engineering projects over to JIRA.</li>
      </ul>

      <h2>Feedback Tools</h2>
      <p>For acquiring feedback on designs.</p>

      <ul>
        <li><a href="http://basecamp.com/">Basecamp</a></li>
        <li><a href="http://www.invisionapp.com/">Invision</a></li>
        <li><a href="https://marvelapp.com/">Marvel</a></li>
      </ul>
    </div>
  </section>

  <section class="section--text section">
    <div class="container container--sm">
      <h1>Fit and Finish</h1>
      <p class="subtitle">The culmination of all work performed.</p>

      <p class="lead">Despite taking on a smaller, bite-sized project that I thought could be completed before I left, I was not able to see the fruit of my labours.</p>

      <p>While the designs I created were given the green light, my internship ended before they were fully implemented by the engineers.</p>
    </div>
  </section>

  {{outlet}}
</article>
