<article id="article-{{model.id}}" class="accent--zazzle">
  <section class="masthead masthead--post masthead--inverted text-center">
    <div class="container">
      <h1 class="masthead-title">{{model.title}}</h1>

      <div class="masthead-meta text-center">
        <div class="masthead-meta-item">
          <i class="oi" data-glyph="clock"></i> {{model.date}}
        </div>

        <ul class="masthead-meta-item masthead-meta-item--tags">
          <i class="oi" data-glyph="tags"></i>
          {{#each tag in model.tags}}
          <li class="masthead-meta-item--tag">{{tag}}</li>
          {{/each}}
        </ul>
      </div>
    </div>
  </section>

  <section class="section--text">
    <div class="container container--sm">
      <h1>Product Manager Intern</h1>
      <p class="subtitle">Product, Zazzle</p>

      <p class="lead">I'm happy to announce that I will be joining Zazzle's product team as a Product Manager Intern.</p>
    </div>
  </section>

  {{outlet}}
</article>
