<style type="text/css">
  .header--site a {
    color: #fff;
  }

  .header--site-twitter,
  .header--site .header--site-list-item a {
    color: rgba(255, 255, 255, 0.9);
  }

  .header--site a:hover,
  .header--site a:focus {
    color: #fff;
  }
</style>

<article id="article-{{model.id}}" class="accent--vidyard">
  <section class="masthead masthead--post masthead--inverted text-center">
    <div class="container">
      <h1 class="masthead-title">{{model.title}}</h1>

      <div class="masthead-meta text-center">
        <div class="masthead-meta-item">
          <i class="oi" data-glyph="clock"></i> {{model.date}}
        </div>

        <ul class="masthead-meta-item masthead-meta-item--tags">
          <i class="oi" data-glyph="tags"></i>
          {{#each tag in model.tags}}
          <li class="masthead-meta-item--tag">{{tag}}</li>
          {{/each}}
        </ul>
      </div>
    </div>
  </section>

  <section class="section--image">
    <div class="container">
      <figure class="post-section-figure">
        <img class="img--sm" src="/assets/images/posts/announcement-joining-vidyard/vbot.png" alt="" />
      </figure>
    </div>
  </section>

  <section class="section--text">
    <div class="container container--sm">
      <div class="text-center">
      </div>

      <h1>Summer Internship</h1>
      <p class="subtitle">May 4, 2015</p>

      <p class="lead">
        I'm happy to announce that I am joining Vidyard as a Web Developer intern on the Marketing team!
      </p>

      <p>
        I like making websites. It marries two areas that I am very passionate about &ndash; design and development.
      </p>

      <p>
        From designing the site's layout to deciding typography and colours, design guides the development process by providing a view into what the end result will look like. As a PM at Zazzle, I also played the role of a Product Designer. I provided the engineers with the specifications, the wireframes, and the final designs, but I didn't have a hand in any of the development. Coming from an engineering role prior to Zazzle, I still had a tendency to want to grab my laptop and dive into the trenches with my fellow engineers to help out.
      </p>

      <p>
        Fortunately, this internship will give me the opportunity to work in both of these areas.
      </p>

      <div class="callout">
        <p class="lead">
          <strong>Over the course of the next four months, I will be working on <a href="http://vidyard.com" target="_blank">www.vidyard.com</a></strong>, an exciting project that I can't wait to get started on.
        </p>
      </div>

      <p>
        This week, I've received a number of welcome emails and messages from employees at Vidyard. I have yet to start and it's already starting to feel like home.
      </p>

      <p>
        <strong>To the entire Vidyard family</strong>: Thank you for the warm welcome! I am really looking forward to meeting each and every one of you in-person on Monday. It's going to be a great four months, I know it.
      </p>

      <p>
        Even more exciting is the fact that <a href="http://www.vidyard.com/blog/vidyard-raises-18m-video-marketing-innovation/" target="_blank">Vidyard recently announced that they raised $18M in Series B financing</a>. I am looking forward to seeing what comes out of this and how this shapes the company, its growth, and its operations.
      </p>

      <p>
        It is an exciting time to be joining Vidyard and I can't wait to see what's in store.
      </p>

      <p class="text-center">
        &ndash; Karel
      </p>
    </div>
  </section>

  {{outlet}}
</article>
